* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image:linear-gradient(aquamarine, white);
    min-height: 400px;
    min-width: 900px;
}
nav {
    padding: 50px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    margin: 10px;
}

#rnav {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content:space-between; */
    /* align-items:center; */
    
}

.nav-link {
    font-family:monospace;
    text-transform: uppercase;
}

.lnav {
    /* padding: 10px; */
}

.name {
    text-align: center;
    text-transform: uppercase;
}

/* about section below! */
.about {
    display: flex;
    flex-flow: nowrap;
    justify-content:space-between;
    align-items: center;
    background-color: brown;
    padding: 20px;
}

#tee {

    height: 40vh;
    /* border-radius: 100px; */
    border-radius: 10% 30% 50% 70%;
}
/* .about-pic {
    display: block;
    border-image: round;
    width: 300px;
    height: 300px; 
    margin:auto;
    border-radius: 10% 30% 50% 70%; */

}

.about-text {
    text-align: center;
    border: 2px solid black;
}