* {
    margin: 0px;
    padding: 0px;
}
/* 
body {
     background-image:linear-gradient(aquamarine, white); 
     @media (max-width:1024px) and (min-width:480px;){
        padding:20px;
        margin:20px;
    } 
} */

/* header + navigation */
header {
    background-image:linear-gradient(aquamarine, white);
    min-height: 100%;
    /* min-width: 900px; */
    @media screen (max-width:1024px) and (min-width:480px;){
        padding:20px;
        margin:20px;
    }
}

nav {
    padding: 50px;
    margin: 0px;
}

h2 {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    
}

p {
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.headings {
    padding: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Old Standard TT', serif;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color:black;
    text-align:center;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin: 10px;
}

.nav-link {
    /* font-family:monospace; */
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    color: black;
    margin: 30px;
}

.name {
    text-align: center;
    text-transform: uppercase;
    padding:  80px;
    margin: 100px;
    border: 2px solid black;
}
.analyst {
     padding: 20px;
}

/* about section below! */
#about {
    display: flex;
    flex-flow: nowrap;
    justify-content:space-between;
    align-items: center;
    margin: 100px;
}

 @media screen and (max-width: 500px) {
    .about-text {
        width: 50%;
    }
} 


#tee {
    width: 200px;
    /* height: 210px; */
    border-radius: 10% 30% 50% 70%;
     /* @media sceen(min-width:480px) {
         height: 30vh;
     } */
}


.about-text {
    text-align: center;
    margin: 50px;
    padding:50px;
    /* border: 2px solid black; */

}
span.quote {
    text-decoration-style:solid;
    color: chocolate;
}

#course {
    padding: 80px;
}

.week:hover + .hiden {
    display: block;
    color: black;
}
.hiden {
    display: none;
}

/* timeline creation 
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) 
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }/

  /* Container around content */
.container {
    padding: 10px 60px;
    position: relative; 
    @media (min-width:480px;) {
        padding: 5px 30px
    } 
  }
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: black;
    border: 4px solid aquamarine;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    @media (min-width:480px) {
        width: 10px;
        height: 10px;
    }
  }

  /* The actual content */
.content {
    padding: 20px 30px;
    background-color:aquamarine;
    position: relative;
    border-radius: 6px;
    
  }

  /* projects */

  #projects {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      /* margin: 80px; */
  }

    @media screen and  (max-width:1024px){
        
        #projects  {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            /* margin:0px; */
        /* min-height:100px; */
        }
    } 


  .pr {
      margin: 30px;
      padding: 50px;
      border: none;
      border-radius: 30%;
      background-color: grey;
      opacity: 0.6;
      transition: 0.3s;
  }


  .pr:hover {
      opacity: 1;
  }

  footer {
      /* background-image: ; */
      background-image: -webkit-radial-gradient(aquamarine, white);
      padding: 20px;
      text-align: center;
  }

  .icon {
      width: 20px;
      height: 20px;
      padding: 10px;
  }

  .email {
      padding: 25px;
  }
  .github {
      padding: 25px;
  }
  .linkedin {
      padding: 25px;
  }
  .up {
      padding: 30px;
      color: black;
      text-align: left;
      text-transform: uppercase;
  }